[buildout]
extends = versions.cfg
update-versions-file = versions.cfg
parts = dev prod testrunner pydev
develop = . ../utils/ ../gtfsdb/
app-egg-name = ott.trafficdb
newest = false
versions = versions
include-site-packages = true
allowed-eggs-from-site-packages = psycopg2 distribute Setuptools zc.buildout numpy scipy pandas 
prefer-final = true

[dev]
recipe = zc.recipe.egg
dependent-scripts = true
interpreter = python
eggs = ott.trafficdb[dev]

[prod]
recipe = zc.recipe.egg
dependent-scripts = true
interpreter = python
eggs = ott.trafficdb

[testrunner]
recipe = zc.recipe.testrunner
eggs = ${dev:eggs}
script = test

[pydev]
recipe = pb.recipes.pydev
eggs = ${dev:eggs}
